flows.json
[{"id":"8bd82be0.7f0b88","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"57e92e04.3e25f","type":"http request","z":"8bd82be0.7f0b88","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/1f3b8cd3-0097-4429-9567-4bd93ec6664b/predictions","tls":"","persist":false,"proxy":"","authType":"","x":710,"y":220,"wires":[["89df3491.3084d8"]]},{"id":"6ba58920.354638","type":"inject","z":"8bd82be0.7f0b88","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":60.49999237060547,"y":204.00000095367432,"wires":[["15587253.143e6e"]]},{"id":"15587253.143e6e","type":"function","z":"8bd82be0.7f0b88","name":"PreToken","func":"global.set(\"b\",msg.payload.pg)\nglobal.set(\"c\",msg.payload.gc)\nglobal.set(\"d\",msg.payload.bp)\nglobal.set(\"e\",msg.payload.st)\nglobal.set(\"f\",msg.payload.il)\nglobal.set(\"g\",msg.payload.bmi)\nglobal.set(\"h\",msg.payload.dpf)\nglobal.set(\"i\",msg.payload.age)\nglobal.set(\"j\",msg.payload.age)\nglobal.set(\"k\",msg.payload.age)\nglobal.set(\"l\",msg.payload.age)\nglobal.set(\"m\",msg.payload.age)\nglobal.set(\"n\",msg.payload.age)\nglobal.set(\"o\",msg.payload.age)\nglobal.set(\"p\",msg.payload.age)\nglobal.set(\"q\",msg.payload.age)\nglobal.set(\"r\",msg.payload.age)\nglobal.set(\"s\",msg.payload.age)\nglobal.set(\"u\",msg.payload.age)\nglobal.set(\"v\",msg.payload.age)\nvar apikey=\"vYT36w4-8KmHuXkh9x0xPMc9x9B85s6Fu3we6Ch1iRG5\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240.49999237060547,"y":344.0000009536743,"wires":[["cdca7966.a1b028"]]},{"id":"cdca7966.a1b028","type":"http request","z":"8bd82be0.7f0b88","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":320,"wires":[["7229f50f.b2ccfc"]]},{"id":"38718dc2.8f6382","type":"debug","z":"8bd82be0.7f0b88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":878.5000038146973,"y":74.99999809265137,"wires":[]},{"id":"7229f50f.b2ccfc","type":"function","z":"8bd82be0.7f0b88","name":"predictions","func":"var b = global.get('b')\nvar c = global.get('c')\nvar d = global.get('d')\nvar e = global.get('e')\nvar f = global.get('f')\nvar g = global.get('g')\nvar h = global.get('h')\nvar i = global.get('i')\nvar j = global.get('j')\nvar k = global.get('k')\nvar l = global.get('l')\nvar m = global.get('m')\nvar n = global.get('n')\nvar o = global.get('o')\nvar p = global.get('p')\nvar q = global.get('q')\nvar r = global.get('r')\nvar s = global.get('s')\nvar t = global.get('t')\nvar u = global.get('u')\nvar v = global.get('v')\nvar token=msg.payload.access_token\nvar instance_id=\"59de51ff-fa84-41fd-aebc-570c1c7eab44\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"Country\", \"Year\", \"Status\", \"Adult Mortality\", \"infant deaths\", \"Alcohol\", \"percentage expenditure\", \"Hepatitis B\", \"Measles \", \" BMI \", \"under-five deaths \", \"Polio\", \"Total expenditure\", \"Diphtheria \", \" HIV/AIDS\", \"GDP\", \"Population\", \" thinness  1-19 years\", \" thinness 5-9 years\", \"Income composition of resources\", \"Schooling\"], \"values\": [[b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,v]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":626.5,"y":296,"wires":[["57e92e04.3e25f"]]},{"id":"d7364d3b.04eb3","type":"ui_form","z":"8bd82be0.7f0b88","name":"","label":"","group":"e5bea27c.e68","order":0,"width":0,"height":0,"options":[{"label":"Country","value":"b","type":"text","required":true,"rows":null},{"label":"Year","value":"c","type":"number","required":true,"rows":null},{"label":"Status","value":"d","type":"text","required":true,"rows":null},{"label":"Adult Mortality","value":"e","type":"number","required":true,"rows":null},{"label":"Infant Deaths","value":"f","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"g","type":"number","required":true,"rows":null},{"label":"Percentage Expenditure","value":"h","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"i","type":"number","required":true,"rows":null},{"label":"Measles","value":"j","type":"number","required":true,"rows":null},{"label":"BMI","value":"k","type":"number","required":true,"rows":null},{"label":"under five deaths","value":"l","type":"number","required":true,"rows":null},{"label":"polio","value":"m","type":"number","required":true,"rows":null},{"label":"total expenditure","value":"n","type":"number","required":true,"rows":null},{"label":"diphtheria","value":"o","type":"number","required":true,"rows":null},{"label":"hiv/aids","value":"p","type":"number","required":true,"rows":null},{"label":"gdp","value":"q","type":"number","required":true,"rows":null},{"label":"population","value":"r","type":"number","required":true,"rows":null},{"label":"thinness 1-19","value":"s","type":"number","required":true,"rows":null},{"label":"thinness 5-9","value":"t","type":"number","required":true,"rows":null},{"label":"income composition","value":"u","type":"number","required":true,"rows":null},{"label":"schooling","value":"v","type":"number","required":true,"rows":null}],"formValue":{"b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":"","t":"","u":"","v":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":50.49999237060547,"y":404.0000009536743,"wires":[["15587253.143e6e"]]},{"id":"16b42b68.40cfa5","type":"ui_text","z":"8bd82be0.7f0b88","group":"e5bea27c.e68","order":1,"width":0,"height":0,"name":"","label":"Outcome","format":"{{msg.payload}}","layout":"row-spread","x":768.1000289916992,"y":392.200008392334,"wires":[]},{"id":"89df3491.3084d8","type":"function","z":"8bd82be0.7f0b88","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590.1000289916992,"y":135.60000228881836,"wires":[["38718dc2.8f6382","16b42b68.40cfa5"]]},{"id":"e5bea27c.e68","type":"ui_group","z":"","name":"Default","tab":"b39ca0d5.1e36a","order":1,"disp":true,"width":"6","collapse":false},{"id":"b39ca0d5.1e36a","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]