flows.json
[{"id":"5090998c.a51018","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3fd01fbe.a61e7","type":"ui_form","z":"5090998c.a51018","name":"","label":"","group":"31b33d33.c6ebe2","order":0,"width":0,"height":0,"options":[{"label":"Year","value":"a","type":"number","required":true,"rows":null},{"label":"BMI ","value":"b","type":"number","required":true,"rows":null},{"label":"Adult_Mortality","value":"c","type":"number","required":true,"rows":null},{"label":"Infant_Deaths","value":"d","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"e","type":"number","required":true,"rows":null},{"label":"Percentage_Expenditure","value":"f","type":"number","required":true,"rows":null},{"label":"HepatitisB","value":"g","type":"number","required":true,"rows":null},{"label":"Under_Five_Deaths","value":"h","type":"number","required":true,"rows":null},{"label":"Polio","value":"i","type":"number","required":true,"rows":null},{"label":"Total_Expenditure","value":"j","type":"number","required":true,"rows":null},{"label":"Diphtheria","value":"k","type":"number","required":true,"rows":null},{"label":"HIV","value":"l","type":"number","required":true,"rows":null},{"label":"GDP","value":"m","type":"number","required":true,"rows":null},{"label":"Population","value":"n","type":"number","required":true,"rows":null},{"label":"thinness_1to19_years","value":"o","type":"number","required":true,"rows":null},{"label":"thinness_5to9_years","value":"p","type":"number","required":true,"rows":null},{"label":"Income_Comp_Of_Resources","value":"q","type":"number","required":true,"rows":null},{"label":"Schooling","value":"r","type":"number","required":true,"rows":null},{"label":"Measles","value":"s","type":"number","required":true,"rows":null},{"label":"Developing(1 or 0)","value":"t","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":"","t":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":100,"wires":[["994314ec.6c7018"]]},{"id":"994314ec.6c7018","type":"function","z":"5090998c.a51018","name":"pre token","func":"//make user given values as global variables\nglobal.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"t\",msg.payload.t);\n\n//following are required to receive a token\nvar apikey=\"qCnEiZAyK13tdzmDH3m2VVJLNNAeJxNZyzt24oYDrkM7\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;\n","outputs":1,"noerr":0,"x":220,"y":100,"wires":[["48c0f0c8.6fdd"]]},{"id":"5e925bf0.a37534","type":"http request","z":"5090998c.a51018","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/8a069d2f-877a-4611-a308-b43dc03683a4/deployments/37450880-63b8-45f1-b943-e2f03e2149e0/online","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":180,"wires":[["a4be43aa.0de35","3642ee5e.b4b6d2"]]},{"id":"4625c504.a3adfc","type":"debug","z":"5090998c.a51018","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":280,"wires":[]},{"id":"3642ee5e.b4b6d2","type":"function","z":"5090998c.a51018","name":"getFrom Endpoint","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":280,"wires":[["4625c504.a3adfc","9563b0a4.6e344"]]},{"id":"a4be43aa.0de35","type":"debug","z":"5090998c.a51018","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":180,"wires":[]},{"id":"8fa2e83b.2c7648","type":"function","z":"5090998c.a51018","name":"sendTo Endpoint","func":"//get token and make headers\nvar token=msg.payload.access_token;\nvar instance_id=\"8a069d2f-877a-4611-a308-b43dc03683a4\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar r = global.get(\"r\");\nvar s = global.get(\"s\");\nvar t = global.get(\"t\");\n\n\n//send the user values to service endpoint\nmsg.payload = \n{\"fields\":[\"Year\",\"BMI\",\n\"Adult Mortality\",\n\"infant deaths\",\n\"Alcohol\",\"percentage expenditure\",\"Hepatitis B\",\"under-five deaths \",\"Polio\",\"Total expenditure\",\"Diphtheria \",\" HIV/AIDS\",\"GDP\",\"Population\",\" thinness  1-19 years\",\" thinness 5-9 years\",\"Income composition of resources\",\"Schooling\",\"Measles\",\"Developing\"],\n\"values\":[[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t]]};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":210,"y":180,"wires":[["5e925bf0.a37534"]]},{"id":"48c0f0c8.6fdd","type":"http request","z":"5090998c.a51018","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":370,"y":100,"wires":[["8fa2e83b.2c7648"]]},{"id":"9563b0a4.6e344","type":"ui_text","z":"5090998c.a51018","group":"31b33d33.c6ebe2","order":1,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":720,"y":400,"wires":[]},{"id":"31b33d33.c6ebe2","type":"ui_group","z":"","name":"Machine Learning Model","tab":"d091a563.93d0d8","order":1,"disp":true,"width":"6","collapse":false},{"id":"d091a563.93d0d8","type":"ui_tab","z":"","name":"Home Page","icon":"dashboard","disabled":false,"hidden":false}]